<!-- Update this while implement frontend -->
 <!-- Only for demo workflow -->
 <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mix Player</title>
</head>
<body>
  <h1>Mix Player</h1>
  <audio id="audioPlayer" controls></audio>

  <script src="musicPlayer.js"></script>
</body>
</html>
