<!-- Update this while implement frontend -->
 <!-- Only for demo workflow -->
 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mix Player</title>
</head>
<body>
    <h1>Playing Mix</h1>
    <audio controls autoplay>
        <source src="<%= fileUrl %>" type="audio/ogg">
    </audio>
</body>
</html>